* {
    font-family: 'Cinzel', serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'El Messiri', sans-serif;
    margin: 0%;
    padding: 0%;
}
.containerh,#navbar{
    display: flex;
    flex-grow: 2;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#navbar{
    flex-grow: 3;
    justify-content: space-around;
}
a{
    cursor: pointer;
} 
#header {
    background: rgba(55, 55, 53, 0.86);
    border-bottom: 1px solid rgba(12, 11, 9, 0.56);
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 997;
    padding: 18px 0;
    top:2px;
  }
  #header .logo {
    font-size: 28px;
    margin: 0;
    padding: 10px;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  }
  h1{
    margin-left: 20px;
    text-decoration: underline;
    text-decoration-color:rgb(228, 177, 89) ;
  }
  #header .logo a,a {
    color: #fff;
    text-decoration: none;
  }
  #header .logo a{
    padding-left: 30px;
  }
li{
    cursor: pointer;
}
p{
    color: red;
    font-size: medium;
}
/* ---------------------------------------------------------------------------------------- */
/* --------THIS SECTION IS USED FOR THE MOVING AND GLOWING BORDER------------------  */
/* .box {
} */

/* ----------THIS SECTION FOR THE ANIMATION OF CIRCLE FOR THE COLOR BORDER--------
/* @keyframes light {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
} */
/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------- */

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 3px;
    /* background: linear-gradient(0deg, rgb(176, 137, 74), rgba(241, 144, 65, 0.999)); */
    z-index: 1;
    border-radius: 10px;
}

#fox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 270px;
    max-height: 550px;
    max-width: 500px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    /* border: thin  rgb(175, 139, 77)    ; */
    /* box-shadow: -2px -2px 9px rgb(28, 26, 23) ,
        3px 3px 6px rgb(37, 34, 28) ,
        2px 2px 20px 1px rgb(0, 0, 0); */
    padding:2%;

}
.a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0%;
}

.formdesign {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

h3 {
    position: absolute;
    pointer-events: none;
    transition: 0.5s;
    color: black;
    border-radius: 3px;
    background-color: rgb(228, 177, 89) ;
    z-index: 4;
    font-size: medium;
    font-weight: 600;
    /* box-shadow: 1px 1px 1px rgb(58, 31, 58),
        inset -1px -1px 2px rgb(58, 31, 58),
        inset 2px 2px 4px rgb(181, 157, 117) ; */
    padding: 0px 7px;
}
h2{
    color:#0c0b09;
    font-size: larger;
}

input {
    border: none;
    outline: none;
    font-weight: bolder;
    font-size: medium;
    margin-top: 12px;
    background:  rgb(228, 177, 89);
    width: 250px;
    height: 2px;
    color: rgb(20, 20, 20);
    z-index: 3;
    border-radius: 4px;
    transition: 0.5s;
}

textarea{
    width: auto;
    height: auto;
    color: black;
    border-radius: 3px;
    background-color: rgb(228, 177, 89);
}

#submit {
    width: 200px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: none;
    border: solid black 1px;
    font-size: medium;
    border-radius: 4px;
    /* box-shadow: 1px 1px 1px rgb(58, 31, 58),
        inset -1px -1px 2px rgb(58, 31, 58); */
    margin-top: 25px;
}

#submit:hover {
    background-color: rgb(2, 2, 2);
    color: aliceblue;
    transition: 0.5s;
    /* box-shadow: inset 2px 2px 4px rgb(216, 185, 216); */
}

.errorform {
    color: antiquewhite;
    display: block;
    transform: translateY(12px);
}
.formdesign input:valid~h3,
.formdesign input:focus~h3,
.formdesign input:active~h3,
.formdesign input.active~h3{
    text-shadow:
-0.7px 0px 0px black,
0.7px 0px 0px black,
0px -0.5px 0px black,
0px 1px 0px black;
    color: rgb(238, 129, 77, 0.87);
    background: none;
    box-shadow: none;
    font-size: 18px;
    font-weight: 600;
    transform: translateY(-10px);
}
.formdesign input:valid,
.formdesign input:focus {
    box-shadow: inset 2px 2px 3px rgb(58, 31, 58);
    padding: 6px;
    height: 20px;
}

/* -------MEDIAQUIERIES STARTS FROM HERE FOR RESPONSIVENESS --------------*/
@media (max-width:500px){
.box {
    background-color: black;
    max-height: 140vh;
}
.form{
    display:flex;
    justify-content: center;
    align-items:flex-start;
}

.box::before {
    top: -10%;
    right: 50%;
    height:30rem;
    width: 30rem;
    border-radius: 15rem;
}

.box::after {
    top: -10%;
    right: 50rem;
    width: 30rem;
    height: 30rem;
    border-radius: 2rem;
}
#fox{
    position: absolute;
    top: 20px;
    min-width: 330px;
    min-height:300px;
    max-height:600px;
    max-width: 400px;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}
input{
    width: 250px;
    margin-top: 0px auto;
}
h3{
    padding: 0px 4px;
}
}
@media (max-height:550px){
    input{
        max-height: 15px;
    }
    .a{
        
        padding: 0%;
        margin: 0%;
    }
}

@media (max-height:525px){
.box{
    display: flex;
    
}

.box::before {
    top: -10%;
    right: 50%;
    height:30rem;
    width: 30rem;
    border-radius: 15rem;
}

.box::after {
    top: -10%;
    right: 50rem;
    width: 30rem;
    height: 30rem;
    border-radius: 2rem;
}
#fox{
    min-height: 350px;
    max-height:480px;

    padding-bottom: 20px;
}
input{
    min-width: 300px;
    max-width: 300px;
    min-height: 2px;
    max-height: 10px;
}
h3{
    padding: 0px 4px;
}
.formdesign{
    margin: 12px;   
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btt{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
}
#submit{
    margin-top:0% ;
}
#lable,#username{
    grid-column-start:1;
    grid-column-end: 3;
    width: 100%;
}
}
@media (max-height:395px){
.S{
    align-items: center;
}
.box{
    display: flex;

}

.box::before {
    top: -10%;
    right: 50%;
    height:30rem;
    width: 30rem;
    border-radius: 15rem;
}

.box::after {
    top: -10%;
    right: 50rem;
    width: 30rem;
    height: 30rem;
    border-radius: 2rem;
}
#fox{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 650px;
    min-width: 600px;
    max-height:390px;
    min-height: 200px;
    padding: 0ch;
    padding: 30px;
    padding-bottom: 10px;
}
.a{
    min-height: 200px;
    display: grid;
    grid-template-columns: repeat(2,220px);
    grid-column-gap: 5rem;
    grid-row-gap: 0rem;
    max-height:250px;
    padding-bottom: 0ch;
}
input{
    min-width: 200px;
    max-width: 220px;
    max-height: 20px;
}
h3{
    padding: 0px 4px;
}
.formdesign{
    margin: 0%;
}
#username{
    grid-column-start:1;
    grid-column-end: 4;
    min-width: 100%;
}
.btt{
    min-height: 50px;
    justify-content: space-evenly;
}
#submit{
    margin-top: 0%;
    margin-bottom: 25px;
}
}
input::-webkit-outer-spin-button,

      input::-webkit-inner-spin-button {

        display: none;

      }
#supform{
    /* background:black; */
    width: 60px;
    height: 20px;
    /* color: #fff; */
}
